@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #FFFFFF;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  margin-top: 118px; 
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
}

