@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  margin-top: 118px; 
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: calc(100vh - 118px);
}


.map {
  width: 80%;
  height: 400px;
}

.noResize {
  resize: none;
}

.gradient {
  background: rgb(238,146,80);
  background: linear-gradient(90deg, rgba(238,146,80,1) 13%, rgba(252,176,69,1) 44%);
}

.activeLink {
  text-shadow: 1px 1.5px 1px rgba(0, 0, 0, 0.822);
}

