@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #FFFFFF;
}

.embla {
  overflow: hidden;
}

.embla__container {
  display: flex;
  margin-top: 118px; 
}

.embla__slide {
  flex: 0 0 100%;
  min-width: 0;
  height: calc(100vh - 118px);
}

.map {
  width: 80%;
  height: 350px;
}

.noResize {
  resize: none;
}

